/*This is the top content for all pages*/
body{
       background-color:#D9E1D9;
    font-family: Zurich, Arial, sans-serif;

}
h1{
    font-family: Goudy Old Style, Georgia, serif;
    font-size: 3.5em;
    font-weight:bold;
    color:#A30134;
    padding-top: 30px;
    padding-left: 30px;
    text-align:center;
}
img{
    margin:20px;  
}

.nav-item{
    background-color:	#8B8275;
    color:white;
    font:Goudy Old Style;
    font: Georgia;
    font-size: 2em;
    border: solid #D9E1D9 1px;
    border-radius:10px;
        font-size: 1.5em;

}
.nav-item:hover{
    background-color:RGBA(163, 1, 52, 0.2);
    border: solid black 1px;
}
#navbarSupportedContent{
    background-color:D9E1D9;
}

form{
    margin:10px;
}
form button{
    border: solid RGB(163, 1, 52) 1px;
    border-radius:7px;
    padding: 5px;
    
}
form button:hover{
    background-color:RGBA(163, 1, 52, 0.5);
}

#aside{
    background-color:RGBA(163, 1, 52, 0.15);
    margin:auto;
    margin-bottom:30px;
    margin-top:0px;
    text-align: center;
    padding-top: 50px;
    padding-bottom:50px;
    margin-left:0px;
    height:auto;
    border-radius:10px;
    
}
h3{
    text-align: center;
    font-family: Goudy Old Style, Georgia, serif;
}
h2{ 
    font-family: Goudy Old Style, Georgia, serif;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #A30134;
    
}
h4{
    color: #A30134;
        font-family: Goudy Old Style, Georgia, serif;

    
}
#newsimg{
    align-content: center;
    width: 90%;
    height: 30%;
}
#footer{
    background-color: #A30134;
    color:white;
    padding:20px;
}
a{
    color:white;
    text-align: center;
}
a:hover{
    color:black;
}
#content{
    margin-bottom: 5px;
}
#profile img{
    width:30%;
    display: block;
    margin:auto;
} 




