/*This is the top content for all pages*/
body{
       background-color:whitesmoke;
    font-family: Zurich;
    font-family: Arial;

}
h1{
    font: Goudy Old Style;
    font: Georgia;
    font-size: 3.5em;
    font-weight:bold;
    color:#A30134;
    padding-top: 30px;
    padding-left: 30px;
    text-align:center;
}
img{
    margin:20px;  
}

.nav-item{
    background-color:	#A6B4DC;
    color:white;
    font:Goudy Old Style;
    font: Georgia;
    font-size: 2em;
    border: solid black 1px;/*change*/
}
.nav-item:hover{
    background-color:#8B6889;
    border: solid black 1px;
}
#navbarSupportedContent{
    background-color:whitesmoke;
}


form{
    margin:10px;
}
form button{
    border: solid black 1px;
    border-radius:15%;
    padding: 5px;
    
}
form button:hover{
    background-color:#A30134;
}

/*CSS specific to the home page content*/

#aside{
    padding-top:15px;
    margin:5px;
    background-color:RGBA(163, 1, 52, 0.15);
}
ul{
    list-style-type: none;
}
h3{
    text-align: center;
}
h2{ 
    font-family: Zurich;
    font-family: Arial;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    
}
h4{
    color: #A30134;
}
#newsimg{
    align-content: center;
    width: 90%;
    height: 30%;
}
#footer{
    background-color: #A30134;
    color:white;
    padding:20px;
}
a{
    color:white;
    text-align: center;/*change*/
}
a:hover{
    color:black;
}
#content{
    margin-bottom: 30px;
}
#profile img{
    width:30%;
    display: block;
    margin:auto;
} /*change*/




